.header {
    display: flex;
    justify-content: space-between;
}

img {
    width: 250px;
}

ul {
    margin: 0;
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.upper-modal {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 15px;
}

img + div {
    width: 250px;
}

.quote {
    display: flex;
    justify-content: center;
}

figure, blockquote {
    margin-left: 0;
}

figcaption {
    text-align: right;
}

.lower-modal {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.lower-modal h2, .lower-modal p {
    margin: 0;
}

.button {
    align-self: flex-end;
}